<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ganesh.androidfundamentals">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".multithreading.service.jobintentservice.SampleJobIntentServiceActivity"></activity>
        <activity android:name=".multithreading.service.intentservices.SampleIntentServiceActivity" />
        <activity android:name=".multithreading.service.services.SampleForegroundServiceActivity" />
        <activity android:name=".multithreading.service.jobscheduler.SampleJobSchedulerActivity" />
        <activity android:name=".multithreading.asynctask.SampleAsyncTaskActivity" />
        <activity android:name=".multithreading.handlerThread.SampleHandlerThreadActivity" />
        <activity android:name=".multithreading.customHandlerThread.CustomHandlerThreadActivity" />
        <activity android:name=".multithreading.MultiThreadingActivity" />
        <activity android:name=".broadcastreceivers.BroadcastReceiverActivity" />
        <activity android:name=".contentproviders.ContentProvidersActivity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--android:permission="android.permission.BIND_JOB_SERVICE" this is required for Jobs -->
        <service
            android:name=".multithreading.service.jobscheduler.ExampleJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".multithreading.service.services.ExampleService" />
        <service android:name=".multithreading.service.intentservices.ExampleIntentService" />
        <service
            android:name=".multithreading.service.jobintentservice.ExampleJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>